input {
    width:100%;
    padding: 5px;
    margin:15px;
}

section {
    margin: auto;
    padding: 10px;
}

.container {
    position: relative;

}
.box{
    position: relative;
    float: left;
    margin: 5px;
    width: 200px;
    height: 200px;
}

.box:hover{
    color: blue;
}
.top{
    position: absolute;
    margin: auto;
    width: 100%;
    top:8px;
    text-align: center;
}

.bottom{
    position: absolute;
    margin: auto;
    width: 100%;
    bottom: 8px;
    text-align: center;
}

.btn{
    text-align: center;
    width: 100%;
    padding: 2px;
    margin: auto;
}


.img{
    width: 200px;
    height: 200px;
}
